.heading{
    text-align: center;
    background-image:url(image/code1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding:150px;
    align-items: center;  
    width:100%;
    height:30%; 
}
button{
    color: white;
    background-color: black;
}
.second{
    padding: 80px;
    background-color:white;
}
.card{
    align-items: center;
    text-align: center;
    background-color: black;
    margin:50px;
}
#round{
    background-color: black;
    padding: 20px;
}
.container{
    background-color: white; 
}
.third{
    text-align: center;
    padding: 80px;
}
.four{
    text-align: center;
}
#contact{
    background-color: teal;
    color:white;
}
#company{
    background-color:rgb(37, 37, 37);
    color:white;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
